*.swp
Makefile
test-driver
.libs
Makefile.in
configure
libtool
ltmain.sh
config.guess
config.sub
install-sh
missing
compile
aclocal.m4
config.log
config.status
depcomp
autom4te.cache
.dirstamp
.deps
.sconsign*
src/*.o
src/*.lo
examples/*.o
*.a
*.la
*.pc
*.tar.gz
*.out
*.zip
docs/html
TAGS
tags
m4/
src/firebase-upstream-server
c-firebase-upstream-server.project
libs/
obj/
expat/
conf/*.conf
