servers:
({
  enabled = false;
  tls = "tls";
  port = 5235;
  host = "fcm-xmpp.googleapis.com";
#  capath = "/etc/ssl/certs";
  cafile = "/etc/ssl/certs/ca-certificates.crt";

  logins:
  ({
    jid: "SENDER_ID_NUMBER_MAIN_PROJECT@gcm.googleapis.com";
    pass: "server_key:token"
  })
},
{
  enabled = false;
  tls = "tls";
  port = 5236;
  host = "fcm-xmpp.googleapis.com";

  logins:
  ({
    jid: "SENDER_ID_NUMBER_TEST_PROJECT@gcm.googleapis.com";
    pass: "server_key:token"
  })
});
