servers:
({
  enabled = false;
  tls = "starttls";
  port = 5222;

  logins:
  ({
    jid: "username@example.com";
    pass: "haveibeenpwned?";
  })
},
{
  enabled = false;
  tls = "tls";
  port = 5223;
  host = "test.xmpp.example.com";

  logins:
  ({
    jid: "username@example.net";
    pass: "haveibeenpwned?"
  })
});
